body {
  text-align: center;
  background: rgb(237,183,138);
background: radial-gradient(circle, rgba(237,183,138,1) 46%, rgba(143,72,144,0.9752275910364145) 100%);
 border-style: outset;
  border-width: 3rem;
  border-color: #8675a9;
  margin:auto;
}

#title {
 
  color: #fff;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
.top-heading{
  text-align:center;
  text-shadow: 2px 2px yellow;
}
.row p {
text-align: right;
font-family: "monotype corsiva";
font-size: 2rem;}
.container-fluid {
  padding: 3% 7% 0% 5%;
  margin:auto;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}


/* Testimonial Section */
#testimonials {
  font-family: "Arial black", Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;  
}

.testimonial-image {
  width: 100%;
  margin: 5px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}



.carousel-item {
  padding: 3% 10%;
}

h2 {
  font-family: "Arial black", Helvetica, sans-serif;
}



#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.cta-title {
  font-family: "Arial black", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

.social-icon {
  margin: 20px 10px;
}

#footer {
  padding: 7% 15%;
  color: blue;
  background-color: #fff;
}
hr {
	
  height: 6px;
  background-image: radial-gradient(
    closest-side,
    hsla(0, 0%, 50%, 1.0),
    hsla(0, 0%, 50%, 0) 100%);
  position: relative;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    
  }
	.row p {
text-align: center;
font-family: "monotype corsiva";
font-size: 1rem;}
  }

